@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
*{
    font-family: 'Zen Maru Gothic';
}
.header_title{
    font-size: 15px;
    color: #ffffff;
}
.header_subtitle{
    font-size: 11px;
    color: #ffffff;
}
.find_input_title{
    font-size: 7px;
}
.find_input{
    font-size: 7px;
}
.find_white_button{
    font-size: 13px;
}
.find_green_button{
    font-size: 13px; 
}
.last_posts_title{
    font-size: 16;
    font-weight: 600;
}
.carousel_title{
    font-size: 10px;
}
.carousel_subtitle{
    font-size: 10px;
}
.carousel_button{
    font-size: 7px;
    color: #ffffff;
}
.big_grey_block{
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    margin-top: 7px;
}
.grid_text{
    font-size: 10px;
}
.bottom_carousel_item_name{
    display: flex;
    gap: 4px;
}
.bcin_name{
    font-size: 7px;
}
.green_with_border{
    font-size: 12px;
    font-weight: 700;
}
.checkbox_text{
    font-size: 12px;
}
.subscription_title{
    font-size: 12px;
}

.footer_link{
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}
.footer_text{
    color: #ffffff;
    font-size: 12px;
}

.title{
    font-size: 48px;
    font-weight: 500;
}
.login_input_title{
    font-size: 32px;
    font-weight: 500;
}
.login_button{
    font-size: 24px;
}
.dop_text{
    font-size: 15px;
}
.login_link{
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.tel{
    font-size: 11px;
}
.change_btn{
    font-size: 11px;
}
.add_photo{
    font-size: 12px;
}
.sort_title{
    font-size: 16px;
    font-weight: 500;
}
.filter_name{
    font-size: 15px;
    font-weight: 500;
}
.telephone{
    font-size: 20px;
}
.contacts_card{
    
}
.f2{
    font-size: 7px;
}